{% extends 'base.html' %}
        {% block body %}</br>
        <h4><b>Problem:</b> </br>Assume that an entrepreneur's 
        short-run total cost function is C=x**3-10*x**2+17*x+66
        Determine the output level at which he maximizes profit if p=5.Compute the
        output elasticity of cost at this output.</h4>
        <h6>Try changing with verified equations and you can still solve the problem.</h6>
        <form action="/index" method="POST">
        <p>C=<input type="text" name="ceq" placeholder="q**3-10*q**2+17*q+66"> p=<input 
        type="text" name="pvar" placeholder="5"> variable in C:<input type="text" name="qvar" placeholder="q">  <input type="submit" class="btn btn-outline-success" value="solve"></p>
        </form>
        <p>Multiplied terms in eqn's such as '17q' should be entered as '17*q'.follow the  proper syntax as shown in the question.</p>
        <p>The variable input field is the variable used in eqn,for this question it's 'q',if the eqn is of form f(x) then it will be 'x'</p>
        <h5><b>Solution:</b></h5>
        <p>The firm produces at MC=P to maximize profit</p>
        <p>MC=marginal cost and P=price</p>
        <p>MC is the change in the total cost and a change in a
        function is found by the first differentiation</p>
        <p>MC=dC/dq=</p>
        <script type="math/tex; mode=display">\frac{d}{d x}\left(x^{3} - 10 x^{2} + 17 x + 66\right)</script><script type="math/tex; mode=display">3 x^{2} - 20 x + 17</script><div class="steps"><ol>
<li>
    <p>Differentiate <script type="math/tex; mode=inline">x^{3} - 10 x^{2} + 17 x + 66</script> term by term:</p>
    <ol>
    <li>
        <p>The derivative of the constant <script type="math/tex; mode=inline">66</script> is zero.</p>
    </li>
    <li>
        <p>Apply the power rule: <script type="math/tex; mode=inline">x^{3}</script> goes to <script type="math/tex; mode=inline">3 x^{2}</script></p>
    </li>
    <li>
        <p>The derivative of a constant times a function is the constant times the derivative of the function.</p>
        <ol>
        <li>
            <p>Apply the power rule: <script type="math/tex; mode=inline">x^{2}</script> goes to <script type="math/tex; mode=inline">2 x</script></p>
        </li>
        </ol>
        <p>So, the result is: <script type="math/tex; mode=inline">- 20 x</script></p>
    </li>
    <li>
        <p>The derivative of a constant times a function is the constant times the derivative of the function.</p>
        <ol>
        <li>
            <p>Apply the power rule: <script type="math/tex; mode=inline">x</script> goes to <script type="math/tex; mode=inline">1</script></p>
        </li>
        </ol>
        <p>So, the result is: <script type="math/tex; mode=inline">17</script></p>
    </li>
    </ol>
    <p>The result is: <script type="math/tex; mode=inline">3 x^{2} - 20 x + 17</script></p>
</li>
</ol>
<hr/>
    <p>The answer is:</p>
    <p><script type="math/tex; mode=display">3 x^{2} - 20 x + 17</script></p></div><p>MC =3*x**2-20*x+17</p><p>Equating to P</p><p>3*x**2-20*x+17=5</p><script type="math/tex; mode=display">\mathrm{solve}\;3 x^{2} - 20 x + 12=0</script><ul>
<li><script type="math/tex; mode=display" data-numeric="true" data-output-repr="2/3" data-approximation="0.666666666666667">\frac{2}{3}</script></li>
<li><script type="math/tex; mode=display">6</script></li>
</ul><p>q>0,the profit is maximum at highest q as MC is increasing</p><p>q=6 then MC is increasing and q=2/3then MC is decreasing so the profit is maximum at q=6</p><p>So the profit is maximum at q=6 units.</p><p>=======================================</p><p>Output elasticity formula is:(C/q)*(dq/dC) =</p><p> (x**3 - 10*x**2 + 17*x + 66)/(x*(3*x**2 - 20*x + 17)) = </p><p> The output elasticity is :0.800000000000000</p>{%endblock%}